card{
  display: flex;
  flex-direction: column;
  gap: auto;

}
.btnta{
  width: 100%;
  height: 100px;
}
#red {
  background-color: #f43f5e;
}

#yellow {
  background-color: #fffb08;
}

#green {
  background-color: #22c55e;
}
